<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <div>
            <input v-model="inputValue" />
            <button v-on:click="submit">提交</button>
        </div>
        <ul>
            <todo-item v-for="(item,index) in list" :key="index" :content="item">
            </todo-item>
        </ul>
    </div>
    <script>
        //全局组件
        Vue.component('todo-item', {
            props: ['content'],
            template: '<li>{{content}}</li>'
        })
        new Vue({
            el: "#root",
            data: {
                inputValue: ' hello',
                list: []
            },
            methods: {
                submit: function() {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            }

        })
    </script>
</body>

</html>