<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- <div id="demo">
        <div v-for="(item,index) in list" :key="item.id">
            <item-box :data=item></item-box>
            <button @click="delClick(index)">删除</button>
        </div>
    </div> -->
    <div id="demo">
        <div v-for="(item,index) in list" :key="item.id">
            <input type="text">
            <button @click="delClick(index)">删除</button>
        </div>
    </div>
    <script>
        //Vue.component('item-box', {
        // template: '<span>{{data.msg}}</span>',
        // props: ['data'],
        // })
        Vue.component('item-box', {
            template: '<button @click="itemClick">{{status}}</button>',
            props: ['data'],
            data() {
                return {
                    status: 'no'
                }
            },
            methods: {
                itemClick() {
                    this.status = 'yes'
                }
            }
        })
        var demo = new Vue({
            el: '#demo',
            data() {
                return {
                    list: [{
                        msg: 'k1',
                        id: 1
                    }, {
                        msg: 'k2',
                        id: 2
                    }, {
                        msg: 'k3',
                        id: 3
                    }]
                }
            },
            methods: {
                delClick(index) {
                    this.list.splice(index, 1)
                }
            }
        })
    </script>
</body>

</html>